<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="404">
    <meta name="author" content="Omar Zoui">
    <title>404</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
</head>

<body>
    <a href="/"><img src="{{ url_for('static', filename='images/404.jpg') }}" alt="Page Non Trouvée" width="100%"
            height="100%"></a>
</body>

</html>